@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.hero .hero__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.hero .hero__nav ul.hero__links {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.hero .hero__nav ul.hero__links li {
  list-style: none;
  margin-left: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero .hero__nav ul.hero__links li a {
  text-decoration: none;
  color: #252b46;
}

.hero .hero__nav ul.hero__links button {
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 35px;
  margin-left: 35px;
  background-color: #fa5757;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  box-shadow: rgba(83, 104, 223, 0.2) 0px 8px 24px;
}

.hero .hero__content {
  display: flex;
  align-items: center;
}

.hero .hero__content .hero__text {
  margin-right: 20px;
}

.hero .hero__content .hero__text .hero__heading {
  font-size: 44px;
  margin-bottom: 30px;
  font-weight: 500;
}

.hero .hero__content .hero__text .hero__sub-heading {
  color: #9194a1;
  margin-bottom: 50px;
  line-height: 1.5;
}

.hero .hero__content .hero__text .hero__ctas .hero__chrome-cta, .hero .hero__content .hero__text .hero__ctas .hero__firefox-cta {
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(83, 104, 223, 0.2) 0px 8px 24px;
}

.hero .hero__content .hero__text .hero__ctas .hero__chrome-cta {
  color: #fff;
  background-color: #5368df;
}

.hero .hero__content .hero__text .hero__ctas .hero__firefox-cta {
  color: #252b46;
  background-color: rgba(145, 148, 161, 0.1);
  margin-left: 10px;
}

.hero .hero__content .hero__img {
  margin-top: 100px;
  height: 100%;
  width: 50%;
  position: relative;
}

.hero .hero__content .hero__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 75%;
  background-color: #5368df;
  border-radius: 1000px 0 0 1000px;
  top: 30%;
  left: 37%;
  z-index: -1;
}

.features {
  margin-top: 120px;
}

.features .features__heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 25px;
  font-weight: 500;
}

.features .features__sub-heading {
  text-align: center;
  font-size: 18px;
  margin: 0 auto 25px auto;
  max-width: 45%;
  color: #9194a1;
  line-height: 1.5;
}

.features [data-tab-content] {
  display: none;
}

.features .active[data-tab-content] {
  display: block;
}

.features ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 60%;
  color: #9194a1;
  margin: 50px auto 0 auto;
  padding-bottom: 12px;
}

.features .tab {
  cursor: pointer;
  padding: 10px;
}

.features .tab.active {
  color: #252b46;
  border-bottom: 3px solid #fa5757;
}

.features .tab:hover {
  border-bottom: 3px solid #fa5757;
}

.features .tab-content .simple__content, .features .tab-content .speedy__content, .features .tab-content .easy__content {
  display: flex;
  align-items: center;
  margin-top: 60px;
  position: relative;
}

.features .tab-content .simple__content .simple__text, .features .tab-content .simple__content .speedy__text, .features .tab-content .simple__content .easy__text, .features .tab-content .speedy__content .simple__text, .features .tab-content .speedy__content .speedy__text, .features .tab-content .speedy__content .easy__text, .features .tab-content .easy__content .simple__text, .features .tab-content .easy__content .speedy__text, .features .tab-content .easy__content .easy__text {
  margin-left: 120px;
}

.features .tab-content .simple__content .simple__text .simple__heading, .features .tab-content .simple__content .simple__text .speedy__heading, .features .tab-content .simple__content .simple__text .easy__heading, .features .tab-content .simple__content .speedy__text .simple__heading, .features .tab-content .simple__content .speedy__text .speedy__heading, .features .tab-content .simple__content .speedy__text .easy__heading, .features .tab-content .simple__content .easy__text .simple__heading, .features .tab-content .simple__content .easy__text .speedy__heading, .features .tab-content .simple__content .easy__text .easy__heading, .features .tab-content .speedy__content .simple__text .simple__heading, .features .tab-content .speedy__content .simple__text .speedy__heading, .features .tab-content .speedy__content .simple__text .easy__heading, .features .tab-content .speedy__content .speedy__text .simple__heading, .features .tab-content .speedy__content .speedy__text .speedy__heading, .features .tab-content .speedy__content .speedy__text .easy__heading, .features .tab-content .speedy__content .easy__text .simple__heading, .features .tab-content .speedy__content .easy__text .speedy__heading, .features .tab-content .speedy__content .easy__text .easy__heading, .features .tab-content .easy__content .simple__text .simple__heading, .features .tab-content .easy__content .simple__text .speedy__heading, .features .tab-content .easy__content .simple__text .easy__heading, .features .tab-content .easy__content .speedy__text .simple__heading, .features .tab-content .easy__content .speedy__text .speedy__heading, .features .tab-content .easy__content .speedy__text .easy__heading, .features .tab-content .easy__content .easy__text .simple__heading, .features .tab-content .easy__content .easy__text .speedy__heading, .features .tab-content .easy__content .easy__text .easy__heading {
  font-size: 36px;
  margin-bottom: 25px;
  font-weight: 500;
}

.features .tab-content .simple__content .simple__text .simple__sub-heading, .features .tab-content .simple__content .simple__text .speedy__sub-heading, .features .tab-content .simple__content .simple__text .easy__sub-heading, .features .tab-content .simple__content .speedy__text .simple__sub-heading, .features .tab-content .simple__content .speedy__text .speedy__sub-heading, .features .tab-content .simple__content .speedy__text .easy__sub-heading, .features .tab-content .simple__content .easy__text .simple__sub-heading, .features .tab-content .simple__content .easy__text .speedy__sub-heading, .features .tab-content .simple__content .easy__text .easy__sub-heading, .features .tab-content .speedy__content .simple__text .simple__sub-heading, .features .tab-content .speedy__content .simple__text .speedy__sub-heading, .features .tab-content .speedy__content .simple__text .easy__sub-heading, .features .tab-content .speedy__content .speedy__text .simple__sub-heading, .features .tab-content .speedy__content .speedy__text .speedy__sub-heading, .features .tab-content .speedy__content .speedy__text .easy__sub-heading, .features .tab-content .speedy__content .easy__text .simple__sub-heading, .features .tab-content .speedy__content .easy__text .speedy__sub-heading, .features .tab-content .speedy__content .easy__text .easy__sub-heading, .features .tab-content .easy__content .simple__text .simple__sub-heading, .features .tab-content .easy__content .simple__text .speedy__sub-heading, .features .tab-content .easy__content .simple__text .easy__sub-heading, .features .tab-content .easy__content .speedy__text .simple__sub-heading, .features .tab-content .easy__content .speedy__text .speedy__sub-heading, .features .tab-content .easy__content .speedy__text .easy__sub-heading, .features .tab-content .easy__content .easy__text .simple__sub-heading, .features .tab-content .easy__content .easy__text .speedy__sub-heading, .features .tab-content .easy__content .easy__text .easy__sub-heading {
  font-size: 18px;
  color: #9194a1;
  margin-bottom: 40px;
}

.features .tab-content .simple__content .simple__text a, .features .tab-content .simple__content .speedy__text a, .features .tab-content .simple__content .easy__text a, .features .tab-content .speedy__content .simple__text a, .features .tab-content .speedy__content .speedy__text a, .features .tab-content .speedy__content .easy__text a, .features .tab-content .easy__content .simple__text a, .features .tab-content .easy__content .speedy__text a, .features .tab-content .easy__content .easy__text a {
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(83, 104, 223, 0.2) 0px 8px 24px;
  color: #fff;
  background-color: #5368df;
}

.features .tab-content .simple__content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #5368df;
  border-radius: 0 1000px 1000px 0;
  top: 25%;
  right: 57%;
  z-index: -1;
}

.features .tab-content .speedy__content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 85%;
  background-color: #5368df;
  border-radius: 0 1000px 1000px 0;
  top: 20%;
  right: 64%;
  z-index: -1;
}

.features .tab-content .easy__content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 95%;
  background-color: #5368df;
  border-radius: 0 1000px 1000px 0;
  top: 20%;
  right: 64%;
  z-index: -1;
}

.extensions {
  margin-top: 230px;
}

.extensions .extensions__heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 25px;
  font-weight: 500;
}

.extensions .extensions__sub-heading {
  text-align: center;
  font-size: 18px;
  margin: 0 auto 0px auto;
  max-width: 50%;
  color: #9194a1;
  line-height: 1.5;
}

.extensions .extensions__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.extensions .extensions__cards .extensions__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 35px 10px 10px 10px;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  box-shadow: rgba(83, 104, 223, 0.2) 0px 8px 24px;
}

.extensions .extensions__cards .extensions__card img {
  width: 100px;
  height: 100px;
}

.extensions .extensions__cards .extensions__card .extensions__card-heading {
  margin-top: 20px;
}

.extensions .extensions__cards .extensions__card .extensions__card-sub-heading {
  font-size: 13px;
  margin-top: 10px;
  color: #9194a1;
}

.extensions .extensions__cards .extensions__card img.dots {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.extensions .extensions__cards .extensions__card .extensions__card-cta {
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  background-color: #5368df;
  padding: 15px 20px;
  margin-top: 25px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(83, 104, 223, 0.2) 0px 8px 24px;
  color: #fff;
}

.extensions .extensions__cards .extensions__card.firefox {
  margin-top: 50px;
}

.extensions .extensions__cards .extensions__card.opera {
  margin-top: 100px;
}

.faq {
  margin-top: 180px;
  margin-bottom: 100px;
}

.faq .faq__heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 25px;
  font-weight: 500;
}

.faq .faq__sub-heading {
  text-align: center;
  font-size: 18px;
  margin: 0 auto 0px auto;
  max-width: 50%;
  color: #9194a1;
  line-height: 1.5;
}

.faq .accordion-wrapper {
  width: 55%;
  margin: 50px auto 0 auto;
}

.faq .accordion-wrapper button.accordion {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 15px 15px 0;
  color: #252b46;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.faq .accordion-wrapper button.accordion::after {
  content: url("../images/icon-arrow.svg");
  float: right;
  font-weight: 400;
}

.faq .accordion-wrapper button.accordion.active::after {
  content: url("../images/icon-arrow.svg");
  transition: transform 0.2s linear;
  transform: rotate(180deg);
}

.faq .accordion-wrapper button.accordion:hover {
  color: #fa5757;
}

.faq .accordion-wrapper button.accordion.active {
  color: #5368df;
  font-weight: 700;
}

.faq .accordion-wrapper .accordion-content {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.faq .accordion-wrapper .accordion-content p {
  color: #9194a1;
  padding-bottom: 15px;
}

.faq .accordion-wrapper hr {
  border: 1px solid #9194a1;
}

.faq .accordion-wrapper .faq__cta {
  text-align: center;
  margin-top: 65px;
}

.faq .accordion-wrapper .faq__cta a {
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  background-color: #5368df;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(83, 104, 223, 0.2) 0px 8px 24px;
  color: #fff;
}

.contact {
  background-color: #5368df;
  padding: 60px 0 50px 0;
  text-align: center;
}

.contact .contact__numbers {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #fff;
}

.contact .contact__update {
  font-size: 30px;
  padding: 0 400px 0 400px;
  margin: 30px 0 30px 0;
  color: #fff;
}

.contact .contact__input-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .contact__input-btn input {
  width: 270px;
  height: 40px;
  padding: 22px 15px 22px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-right: 12px;
}

.contact .contact__input-btn input:focus {
  outline: none;
  border: none;
}

.contact .contact__input-btn input::placeholder {
  color: #9194a1;
}

.contact .contact__input-btn button {
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  background-color: #fa5757;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
}
