@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import "fontawesome.scss";
@import "brands.scss";

// Colors

// Primary
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);

// Neutral
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: rgb(37, 43, 70);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}
